body {
  background-image: url("../images/pattern.jpg");
  width: auto;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  margin-top: -150px;
  margin-left: -10px;
  height: 75px;
}

h1 {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

li {
  display: inline;
  margin-right: 15px;
}

.menu {
  font-weight: bold;

}

.menu:hover {
  background-color: black;
}

section {
  background-color: white;
  width: 1080px;
  margin: auto;
  text-align: justify;
  margin-top: 150px;
  padding-top: -20px;
}

article {
  border-color: black;
}

#article-list {
  padding: 50px;
}

.judul {
  padding: 25px;
}

.isi {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

footer {
  position:  relative;
	background:  #000;
	height:  40px;
	line-height:  40px;
	color:  white;
  text-align: center;
}

nav {
  float: right;
  margin: 15px 30px 15px 0px;
}
